/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  width: 100%;
  box-sizing: border-box;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  gap: 1rem; /* Space between organization name and logo */
}

.header-right {
  gap: 1rem; /* Space between hamburger menu, search icon, and my account icon */
}

/* Styling for better visualization */
.organization-name {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.logo,
.search-icon,
.my-account-icon {
  font-size: 1.5rem;
}

/* Hamburger menu is hidden by default on larger screens */
.hamburger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-left {
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
  }

  .organization-name {
    font-size: 1.5rem;
  }

  .header-right {
    width: 100%;
    justify-content: space-between;
  }

  /* Show hamburger menu on smaller screens */
  .hamburger-menu {
    display: block;
  }

}
