/* AsideGrid.css */
.aside-grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Two columns: 3fr for the main content, 1fr for the aside */
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.alertes-container {
  grid-template-columns: 1fr; /* Single column layout for alerts */
  gap: 1rem; /* Space between grid items */
}

.alerte {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
}

/* Static link styling */
.aside-link {
  background-color: #e0e0e0;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* Layout for smaller screens */
@media (max-width: 768px) {
  .aside-grid-container {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}

  
  .main-content {
    background-color: #ffffff;
    padding: 1rem;
  }
  
  

  