/* Search.css */

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 200px;
    background-color: #f0f0f0;;
    
  }

.search-form-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    height: 200px;
}

.search-form-title {
    color: black;
    font-size: 2.0rem;
    font-weight: bold;
}

.search-form-purpose {
    color: black;
    font-size: 1.0rem;
    font-weight: normal;
}

 .form-input-group [type="text"] {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    justify-content: left;
    align-items: left;
    border: 1px solid lightgrey;
}




/*.
.form-input-group input[type="text"]:focus {
    outline: none;
    border-color: #ff0000;
}
.form-input-group input[type="text"]::placeholder {
    color: #6c757d;
}
.form-input-group input[type="text"]:focus::placeholder {
    color: #007bff;
}



position-relative {
    position: relative !important;
} */ 