#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Header.css */
.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Main.css */
.main-container { 
  display: flex;
}

.search-results {
  display: flex;
}

/* Footer.css */
.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
