#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #ced4da;
  padding: .5rem 1rem;
  z-index: 1030;
  align-items: center;
}

/* Footer.css */
.footer-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .row {
  display: flex;
  align-items: center;
  gap: 10px;
} */
